:root{
  --primary-background-color: #b0d5f5;
  --secondary-background-color: #2f3f5f;
  --link-color: #035359;
  --link-color-active: #ff8c00;
  --Button-background-color:rgb(110, 110, 233);
  --Button-color: hsl(0, 0%, 100%);
  --Button-border-bottom-color: rgb(3, 3, 3);
  --Button-color-active:lightblue;
  --h1-color:#272750;
  --h2-color:#483d8b;
  --h3-color:#483d8b;
  --p-color:#0c0b0b;
  --td-color:#0c0b0b;
  --grid-about-color:#bcc1c659;
  --grid-about-shadow-color: rgba(0, 0, 0, 0.1);
  --about-me-table-border:#100f0f;
  --about-me-table-background:#bed3ee;
  --about-me-table-th:rgb(122, 181, 187);
  --navigation-list-item-color:#333;
  --navigation-list-item-background:#007bff;
  --navigation-list-item-hover:#007bff;
  --page-header-background:#bcc1c659;
  --page-header-shadow:rgba(0, 0, 0, 0.2);
  --profile-background-color:#bcc1c659;
  --profile-shadow-color:rgba(0, 0, 0, 0.1);
  --fire-color-1:#edc655;
  --fire-color-2:#fcffad;
  --fire-color-3:#f76414;
  --moon-color-1:#565756;
  --moon-color-2:#9b9e9b;
  --moon-color-3:#fff;
  --star-color-1:#ededed;
  --star-color-2:#fcfcfc;
  --star-color-3:#fff;
  --Contact-grid-items-background:#6da8ec49;
  --Contact-grid-items-shadow:rgba(0, 0, 0, 0.1);

}

a {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--link-color)
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--link-color-active)
}

body {
  /* background-color: #F5F5F5;*/
  background: linear-gradient(to bottom, var(--primary-background-color), var(--secondary-background-color)); /*#F5F5F5, #333333*/
  /* Adjust the colors as needed */
  min-height: 100vh;
}

button,
.button {
  border: none;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  background-color: var(--Button-background-color);
  color: var(--Button-color);
  font-size: 16px;
  padding: 20px;
  border-radius: 3px;
  border-bottom: 2px solid var(--Button-border-bottom-color);
  transition: opacity 0.2s;
  white-space: normal;
}

button:active {
  background-color: var(--Button-color-active);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

/*headers and paragraphs*/
h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 70px !important;
  font-weight: 400;
  color: var(--h1-color);
  opacity: 0; /* Initially hide the element */
  animation: fadeInAnimation 1s ease forwards; /* Apply the fade-in animation */
}

h2 {
  font-size: 60px;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: var(--h2-color);
  opacity: 0; /* Initially hide the element */
  animation: fadeInAnimation 1s ease forwards; /* Apply the fade-in animation */
}

h3 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  color: var(--h3-color);
  opacity: 0; /* Initially hide the element */
  animation: fadeInAnimation 1s ease forwards; /* Apply the fade-in animation */
}

p {
  color: var(--p-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  opacity: 0; /* Initially hide the element */
  animation: fadeInAnimation 1s ease forwards; /* Apply the fade-in animation */
}

td {
  color: var(--td-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: italic;
  opacity: 0; /* Initially hide the element */
  animation: fadeInAnimation 1s ease forwards; /* Apply the fade-in animation */
}

/*about me page*/
.about-me__block {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

.cvDIV {
  margin: 15px;
  padding-top: 20px;
}

.grid__about {
  display: block;
  background-color: var(--grid-about-color);
  padding: 10px 20px;
  border-radius: 2%;
  box-shadow: 0 4px 8px var(--grid-about-shadow-color); /* Add shadow */
}

.hobby_portait {
  float: right;
  width: 250px;
  margin-right: 40px;
  height: auto;
  border-radius: 50%;
  padding-top: 30px;
  opacity: 0; /* Initially hide the element */
  animation: fadeInAnimation 2s ease forwards; /* Apply the fade-in animation */
}

/*about me table*/
.about-me-table {
  border-collapse: collapse;
}

.about-me-table th,
.about-me-table td {
  padding: 10px;
  border: 4px solid var(--about-me-table-border);
  background-color: var(--about-me-table-background);
}

.about-me-table th {
  background-color: var(--about-me-table-th);
}

.about-me-table tbody tr {
  opacity: 0; /* Initially hide rows */
  transition: opacity 0.5s ease; /* Add transition for smooth fade-in */
}

/* Animation to fade in rows when they appear on the screen */
.about-me-table tbody tr:nth-child(1) {
  animation: fadeIn 0.5s ease 0.3s forwards;
}
.about-me-table tbody tr:nth-child(2) {
  animation: fadeIn 0.5s ease 0.6s forwards;
}
.about-me-table tbody tr:nth-child(3) {
  animation: fadeIn 0.5s ease 0.9s forwards;
}
.about-me-table tbody tr:nth-child(4) {
  animation: fadeIn 0.5s ease 1.2s forwards;
}
/* Add more animations for additional rows */

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/*Work page*/

.grid__items {
  display: inline-block;
}

/* grid display in work page */
@supports (display: grid) {
  .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      padding-left: 25px !important;
      padding-right: 25px !important;
      /* grid-template-rows: 300px 300px;*/
  }
  @media all and (min-width: 500px) and (max-width: 750px) {
      .grid {
          grid-template-columns: 1fr 1fr;
      }
  }

  @media all and (max-width: 750px) {
      .grid {
          grid-gap: 10px;
      }
  }

  @media all and (max-width: 500px) {
      .grid {
          grid-template-columns: 1fr;
      }
  }

  .grid__items {
      background-color: #bed3ee;
      /* padding: 10px 20px;*/
      padding-top: 50px !important;
      padding-bottom: 50px !important;
      padding-left: 25px !important;
      padding-right: 25px !important;
      height: auto !important;
      border-radius: 2%;
      opacity: 0; /* Initially hide projects */
      transition: opacity 5s ease; /* Add transition for smooth fade-in */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Add shadow */
      cursor: pointer;
  }
  .grid__items:hover {
      transform: scale(1.05);
      background-color: #aac8ef; /* Light up color */
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Light up shadow */
  }

  .grid__items img {
      max-width: 100%; /* Ensure images don't exceed their container's width */
      height: auto; /* Maintain aspect ratio */
  }

  /*.grid__items:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}*/

  .grid .grid__items:nth-child(1) {
      animation: fadeIn 0.5s ease 0.3s forwards;
  }
  .grid .grid__items:nth-child(2) {
      animation: fadeIn 0.5s ease 0.6s forwards;
  }
  .grid .grid__items:nth-child(3) {
      animation: fadeIn 0.5s ease 0.9s forwards;
  }
  .grid .grid__items:nth-child(4) {
      animation: fadeIn 0.5s ease 1.2s forwards;
  }
  .grid .grid__items:nth-child(5) {
      animation: fadeIn 0.5s ease 1.5s forwards;
  }
  .grid .grid__items:nth-child(6) {
      animation: fadeIn 0.5s ease 1.8s forwards;
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
}

.grid__index {
  display: grid;
  padding: 80px;
}

.main-move {
  padding: 0 40px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__item {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  padding-top: 30px; /* Add some space from the top */
  padding-right: 30px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: auto;
  display: flex;
}

.navigation-list__item {
  margin-left: 20px; /* Adjust margin to create space between items */
  text-decoration: none;
  color: var(--navigation-list-item-color);
  position: relative;
  transition: color 0.3s ease;
  font-size: 25px; /* Increase font size */
  line-height: 24px; /* Set line height */
  padding-right: 20px;
}

.navigation-list__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--navigation-list-item-background);
  bottom: -4px;
  left: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
  opacity: 0;
}

.navigation-list__item:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  opacity: 1;
}

.navigation-list__item:hover {
  color: var(--navigation-list-item-hover);
}

@keyframes fadeInAnimation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.page-header {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: var(--page-header-background); /*#d6dbe0*/
  box-shadow: 0 8px 12px var(--page-header-shadow); /* Longer shadow */
  border-radius: 8px;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--profile-background-color);
  padding: 10px 20px;
  border-radius: 2%;
  box-shadow: 0 4px 8px var(--profile-shadow-color); /* Add shadow */
}

.profile_portait {
  float: left;
  width: 250px;
  margin-right: 40px;
  height: auto;
  border-radius: 50%;
  opacity: 0; /* Initially hide the element */
  animation: fadeInAnimation 2s ease forwards; /* Apply the fade-in animation */
}

.work-header {
  padding: 0 40px;
}

* {
  box-sizing: border-box;
}

/* fire color change */
@keyframes color-change-1 {
  0% {
      fill: var(--fire-color-1);
  }

  50% {
      fill: var(--fire-color-2);
  }

  100% {
      fill: var(--fire-color-3);
  }
}

/* moon color brightness */
.M {
  animation: 4s color-change-1 infinite alternate linear;
}

@keyframes color-change-2 {
  0% {
      fill: var(--moon-color-1);
  }

  50% {
      fill: var(--moon-color-2);
  }

  100% {
      fill: var(--moon-color-3);
  }
}

/* star twinkle */
.j {
  animation: 4s color-change-2 infinite alternate linear;
}

@keyframes color-change-3 {
  0% {
      fill: var(--star-color-1);
  }

  50% {
      fill: var(--star-color-2);
  }

  100% {
      fill: var(--star-color-3);
  }
}

.h {
  animation: 4s color-change-3 infinite alternate linear;
}

.hobby_portait {
  float: right;
  width: 250px;
  margin-right: 40px;
  height: auto;
  border-radius: 50%;
  padding-top: 30px;
  opacity: 0; /* Initially hide the element */
  animation: fadeInAnimation 2s ease forwards; /* Apply the fade-in animation */
}

.Contact_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 0 40px;
}
.Contact_grid_items {
  background-color: var(--Contact-grid-items-background);
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  height: auto !important;
  border-radius: 2%;
  box-shadow: 0 4px 8px var(--Contact-grid-items-shadow) !important; /* Add shadow */
  cursor: pointer;
}

.text {
  font-size: 24px;
  opacity: 0;
  animation: pop-up 0.5s ease forwards; /* Animation to make text pop up */
}

@keyframes pop-up {
  from {
      opacity: 0;
      transform: translateY(20px); /* Initial position below */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* Final position */
  }
}

/* Add additional styling as needed */
